<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><AMCMDsys> Форум программистов энтузиастов</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="shortcut icon" href="./assets/images/AMCMDLOGO.jpg" >
</head>
<body style="background-color:rgb(36, 26, 26);">
    <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><AMCMDsys>Регистрация / вход</title>
    <link rel="stylesheet" href="/project_1/assets/css/style.css">
    <link rel="shortcut icon" href="/project_1/assets/images/AMCMDLOGO.jpg" >
</head>


  <section class="head">
  <header>
      <a href="/project_1/index.html">
        <img src="/project_1/assets/images/AMCMD_head.png " class = 'logo-main'/>
      </a>
      <h1 class = "greet">Регистрация / Вход</h1>
      <nav class = 'navig' >
          <a style = "text-decoration: none" href="https://github.com/isupo/algo2022?ysclid=lda6829whz327669347">Форум</a>
              <a style = "text-decoration: none" href="https://github.com/isupo">Фриланс</a>
              <a style = "text-decoration: none;" href="https://github.com/">Учебники и книги</a>
              <a style = "text-decoration: none;" href="https://tgiek.ru/">Группа в ВК</a>
          </nav>
          <a class = 'regi' href="/project_1/author.html">Регистрация</a>
          <a class = 'regi' href="/project_1/author.html">Войти</a>            
  </header>
</section>


<main class="form-signin w-100 m-auto">
  <form>
    <h1 class="h3 mb-3 fw-normal"><ya-tr-span data-index="0-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Please sign in" data-translation="Пожалуйста, войдите в систему" data-ch="0" data-type="trSpan">Пожалуйста, войдите в систему</ya-tr-span></h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput"><ya-tr-span data-index="1-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Email address" data-translation="Эл. адрес" data-ch="0" data-type="trSpan">Эл. адрес</ya-tr-span></label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Пароль">
      <label for="floatingPassword">Пароль</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"><ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Remember me " data-translation=" Запомнить меня " data-ch="0" data-type="trSpan"> Запомнить меня  </ya-tr-span></label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit"><ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Sign in" data-translation="Вход" data-ch="0" data-type="trSpan">Вход</ya-tr-span></button>
    
  </form>
</main>

<section class = foot>
  <footer class = 'foot'>
      <img src="/project_1/assets/images/AMCMD_head.png " class = 'logo-main'/>
      <ul>
          <li ><a href="">О проекте</a>
          <li ><a href="">Поддержка</a>
          <li ><a href="">Юридическая справка</a>
      </ul>
  </footer>
</section>
</body>
</html>