<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><AMCMDsys> Форум программистов энтузиастов</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="/static/images/AMCMDLOGO.jpg" >
</head>
<body class = "main-body">
    <section class="head">
        <header>
            <a href="/">
                <img src="/static/images/AMCMD_head.png " class = 'logo-main' alt = "Главная страница">
            </a>

            <h1 class = "greet">Добро пожаловать на форум программистов!</h1>
            <nav class = 'navig' >
                <a style = "text-decoration: none" href="/forum_main">Форум</a>
                    <a style = "text-decoration: none" href="/free">Фриланс</a>
                    <a style = "text-decoration: none;" href="/education">Образование</a>
                    <a style = "text-decoration: none;" href="/amcmd_ent">Группа в ВК</a>
                </nav>
                <a class = 'regi' href="/author">Регистрация</a>
                <a class = 'regi' href="/author">Войти</a>            
        </header>
    </section>
<section  class = main-sec>
    <main>
            <div class = 'note'>
                <h1><a href="/lastsetup">Последние изменения на сайте</a></h1>
                <div>Последние изменения, которые произошли на сайте на этой странице</div>
                <img src =  '/static/images/AMCMDLOGO.jpg'>
            </div>

            <div class = 'note'>
                <h1><a href="/lastsetup">Итоги месяца</a></h1>
                <div>Самое интересное что произошло с сайтом в этом месяце</div>
                <img src =  '/static/images/AMCMDLOGO.jpg'>
            </div>
    </main>
</section>

<section class = foot>
    <footer class = 'foot'>
        <a href="/">
            <img src="/static/images/AMCMD_head.png " class = 'logo-main'/>
        </a>
        <ul class = 'menu-foot'>
            <li ><a href="https://vk.com/amcmd_ent">О проекте</a>
            <li ><a href="https://vk.com/amcmd_ent">Поддержка</a>
            <li ><a href="https://vk.com/amcmd_ent">Юридическая справка</a>
        </ul>
        <div class = 'credits'>Created by AMCMD team </br>
        Powered by Flask</div>
    </footer>
</section>
    <script src="/static/js/script.js"></script>
</body>
</html>