<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><AMCMDsys> Форум программистов энтузиастов</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/AMCMDLOGO.jpg" >
</head>
<body class = "main-body">
    <section class="head">
        <header>
            <a href="http://localhost:8080/">
                <img src="/static/images/AMCMD_head.png " class = 'logo-main'/>
            </a>

            <h1 class = "greet">Последние изменения на сайте</h1>
            <nav class = 'navig' >
                <a style = "text-decoration: none" href="">Форум</a>
                    <a style = "text-decoration: none" href="">Фриланс</a>
                    <a style = "text-decoration: none;" href="">Образование</a>
                    <a style = "text-decoration: none;" href="https://vk.com/amcmd_ent">Группа в ВК</a>
                </nav>           
        </header>
    </section>
    <section  class = main-sec>
        <main>
            <div class = 'text-new'>Данный блог будет показывать разработку сайта поэтапно. Здесь будут последние изменения на сайте. Подробнее читать в первоисточниках документации к сайту.
                Разработка началась с идеи двух студентов под рабочими псевдонимами EvstiAl и WP666. Ядром данного сайта является библиотека Python Flask.
                До выхода сайта в официальный оборот на большой рынок код будет открытым. В дальнейшем код будет ограничен и закрыт. 
                Все ресурсы и личные данные конфиденциально защищены ключами шифрования высокой стойкости (ГОСТ 28147-89)
                <ul>
                <li>07.02.2023 - старт разработки сайта</li>
                <li>12.02.2023 - написан front сайта и подключен FLASK в качестве ядра сайта</li>
                <li>14.02.2023 - исплавлены ошибки отображения css на некоторых страницах, также, исправлены ошибки отображения изображений сайта и перехода между страницами</li>
                        </ul></div>
        </main>
    </section>
    
    <section class = foot>
        <footer class = 'foot'>
            <a href="http://localhost:8080/">
                <img src="/static/images/AMCMD_head.png " class = 'logo-main'/>
            </a>
            <ul class = 'menu-foot'>
                <li ><a href="https://vk.com/amcmd_ent">О проекте</a>
                <li ><a href="https://vk.com/amcmd_ent">Поддержка</a>
                <li ><a href="https://vk.com/amcmd_ent">Юридическая справка</a>
            </ul>
            <div class = 'credits'>Created by AMCMD team </br>
                Powered by Flask</div>
        </footer>
    </section>
        <script src="/static/js/script.js"></script>
    </body>
    </html>