
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><AMCMDsys>Регистрация / вход</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="shortcut icon" href="/static/images/AMCMDLOGO.jpg" >
</head>


<section class="head">
  <header>
      <a href="/">
          <img src="/static/images/AMCMD_head.png " class = 'logo-main'/>
      </a>

      <h1 class = "greet">Добро пожаловать на форум программистов!</h1>
      <nav class = 'navig' >
          <a style = "text-decoration: none" href="/forum_main">Форум</a>
              <a style = "text-decoration: none" href="/free">Фриланс</a>
              <a style = "text-decoration: none;" href="/education">Образование</a>
              <a style = "text-decoration: none;" href="https://vk.com/amcmd_ent">Группа в ВК</a>
          </nav>
        
  </header>
</section>

</head>



<body>
    <main class="form-signin">

        <h1 class="h3-mb-3-fw-normal"><ya-tr-span data-index="0-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Please sign in" data-translation="Пожалуйста, войдите в систему" data-ch="0" data-type="trSpan">Пожалуйста, войдите в систему</ya-tr-span></h1>
        <section class = 'form'>
    <form action="/login" method="post", class='form-contact'>
        <p ><label>Придумайте логин: </label> <input class="form-control" type="text" name ='username' value ='' required />
            <p ><label>Пароль: </label> <input class="form-control" type="password" name ='psw' value ='' required />
                <p ><input class="button-submit" type="submit" value="Войти" />
                </form>
            </section>
        </main>




        <section class = foot>
            <footer class = 'foot'>
                <img src="/static/images/AMCMD_head.png" class = 'logo-main'/>
                <ul>
                    <li ><a href="">О проекте</a>
                        <li ><a href="https://vk.com/im?sel=-216282976">Поддержка</a>
                            <li ><a href="">Юридическая справка</a>
                                <div class = 'credits'>Created by AMCMD team </br>
                                    Powered by Flask</div>
                                </ul>
                            </footer>
                        </section>
                        
                    </body>
                        </html>