<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><AMCMDsys> 404 not found</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="/static/images/AMCMDLOGO.jpg" >
</head>
<body class = "main-body">
    <section class="head">
        <header>
            <a href="/">
                <img src="/static/images/AMCMD_head.png " class = 'logo-main' alt = "Главная страница">
            </a>

            <h1 class = "greet">Увы, страница не найдена!</h1>
            <nav class = 'navig' >
                <a style = "text-decoration: none" href="/forum_main">Форум</a>
                    <a style = "text-decoration: none" href="/free">Фриланс</a>
                    <a style = "text-decoration: none;" href="/education">Образование</a>
                    <a style = "text-decoration: none;" href="/amcmd_ent">Группа в ВК</a>
                </nav>         
        </header>
    </section>
</head>
<body>
    <div class = 'note'>Страница не найдена, вернуться на <a href="{{url_for('html')}}">главную</a> страницу.</div>


        <section class = foot>
            <footer class = 'foot'>
                <a href="/">
                    <img src="/static/images/AMCMD_head.png " class = 'logo-main'/>
                </a>
                <ul class = 'menu-foot'>
                    <li ><a href="https://vk.com/amcmd_ent">О проекте</a>
                    <li ><a href="https://vk.com/amcmd_ent">Поддержка</a>
                    <li ><a href="https://vk.com/amcmd_ent">Юридическая справка</a>
                </ul>
                <div class = 'credits'>Created by AMCMD team </br>
                Powered by Flask</div>
            </footer>
        </section>
            <script src="/static/js/script.js"></script>
        </body>
        </html>           
